<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test name="Test">
 <groups>
 <define name="one">
 <include name="sanity"></include>
 <include name="smoke"></include>
 </define>
 <define name="two">
 <include name="Reg"></include>
 <include name="E2E"></include>
 </define>
 <run>
 <include name="one"></include>
 </run>
 </groups>
    <classes>
      <class name="com.tcs.B"/>
      <class name="com.tcs.A"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
